<html>
<head>
<title>elearning.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
elearning.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;ImageButton</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageButton&quot;</span>
        <span class="s1">style</span><span class="s2">=&quot;@style/Widget.AppCompat.ImageButton&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;342dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;140dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;32dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;32dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/circle&quot;</span>
        <span class="s1">android:scaleType</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:tint</span><span class="s2">=&quot;@color/circleBorder&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/textView&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/e_learning_png_picture_1&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageButton</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageButton3&quot;</span>
        <span class="s1">style</span><span class="s2">=&quot;@style/Widget.AppCompat.ImageButton&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;342dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;140dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;32dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;32dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;90dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/circle&quot;</span>
        <span class="s1">android:scaleType</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:tint</span><span class="s2">=&quot;@color/circleBorder&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/imageButton2&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/image_corrige_e_learning&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageButton</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageButton2&quot;</span>
        <span class="s1">style</span><span class="s2">=&quot;@style/Widget.AppCompat.ImageButton&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;342dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;140dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;32dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;32dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;90dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/design_default_color_background&quot;</span>
        <span class="s1">android:scaleType</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/imageButton&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/corporate_e_learning&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;117dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;49dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;28dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;144dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;144dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;E Learning&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;@color/colorPrimary&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;24sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Cours&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;97dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView4&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Exercices&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;327dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView3&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Corrigé&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;32dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;559dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/button3&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;17dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;32dp&quot;</span>
        <span class="s1">app:backgroundTint</span><span class="s2">=&quot;@color/design_default_color_background&quot;</span>
        <span class="s1">app:icon</span><span class="s2">=&quot;@drawable/backmenu&quot;</span>
        <span class="s1">app:iconPadding</span><span class="s2">=&quot;10&quot;</span>
        <span class="s1">app:iconTint</span><span class="s2">=&quot;@color/colorPrimaryDark&quot;</span>
        <span class="s1">app:layout_constraintBottom_toTopOf</span><span class="s2">=&quot;@+id/textView2&quot;</span>
        <span class="s1">app:layout_constraintEnd_toStartOf</span><span class="s2">=&quot;@+id/textView&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.421&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.0&quot; </span><span class="s0">/&gt;</span>

<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>